<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ddlSites">
        <label>Sites : </label>
        <div class="btn-group">
            <a class="btn btn-info dropdown-toggle dropdown-Site" data-toggle="dropdown" href="#">
                <span data-bind="label"></span> <span class="caret"></span>
            </a>
            <ul id="ulSites" class="dropdown-menu scroll-menu">
                @Html.Raw(ViewBag.Sites)
            </ul>
        </div>
        <input type="hidden" name="hdnSite" id="hdnSite" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ddlConracts" style="display:none;">
        <label>Contract : </label>
        <div id="divContractLoading" class="btn-group" style="display:none;"></div>
        <div class="btn-group" id="divContract">
            <a class="btn btn-info dropdown-toggle dropdown-Contract" data-toggle="dropdown" href="#">
                <span data-bind="label"></span> <span class="caret"></span>
            </a>
            <ul id="ulContracts" class="dropdown-menu"></ul>
        </div>
        <input type="hidden" name="hdnContract" id="hdnContract" />
    </div>
</div>
<br />

<script src="@Url.Content("~/Content/js/report.js")"></script>