
@{
    ViewBag.Title = "ViewSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/css/scheduler.css")" rel="stylesheet" type="text/css" />

        <div id="page-wrapper" style="min-height: 515px;">

            <div class="row">
                <div class="col-lg-11 col-md-11">
                    <table border="1" id="tblDate" style="display: table;"><thead><tr class="timeheader"><th id="dateheader"></th></tr><tr><th>03-Nov-2014<br>Monday</th></tr><tr><th>04-Nov-2014<br>Tuesday</th></tr><tr><th>05-Nov-2014<br>Wednesday</th></tr><tr><th>06-Nov-2014<br>Thursday</th></tr><tr><th>07-Nov-2014<br>Friday</th></tr><tr><th>08-Nov-2014<br>Saturday</th></tr></thead></table>
                    <table border="1" class="table-hover table" id="tblTime" style="display: table;"><thead><tr class="timeheader"><th colspan="2">7:00</th><th colspan="2">8:00</th><th colspan="2">9:00</th><th colspan="2">10:00</th><th colspan="2">11:00</th><th colspan="2">12:00</th><th colspan="2">13:00</th><th colspan="2">14:00</th><th colspan="2">15:00</th></tr></table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span style="color: rgb(128, 128, 128); font-size: 12px; float: left; margin-left: -15px; display: block;" id="tblDesc">Click on any available cell to set schedule.</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div id="divContinueButton" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: none;">
                    <div id="div_btnContinue">
                        <button type="button" class="btn btn-success" id="btnContinue">Continue</button>
                        <button style="margin-left:10px;width:83px;" type="button" class="btn btn-info" id="btnReset">Reset</button>
                    </div>
                </div>
            </div>

            <div style="display: none;" class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Add Schedule</h4>
                        </div>
                        <div class="modal-body">
                            <label>Date: <input style="background-color: #FFFFFF;" readonly="" class="form-control input-sm" id="txtDate"></label>
                            <br>
                            <div class="row">
                                <label>Time Start: <input style="background-color: #FFFFFF;" readonly="" class="form-control input-sm hourtimes" id="txtStartTime"></label>
                                <label>Time End: <input style="background-color: #FFFFFF;" readonly="" class="form-control input-sm hourtimes" id="txtEndTime"></label>
                                <button type="button" class="btn btn-default btn-sm" id="btnAddHour">Add Hour</button>
                            </div>
                            <br>
                            <label>Special Instruction: <textarea cols="50" rows="3" class="form-control" id="txtSpecialInstruction"></textarea></label>
                            <input type="hidden" id="hdncombid">
                            <input type="hidden" id="hdncombidend">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal">Save Schedule</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/cas/Content/js/scheduler.js"></script>
    