@{
    ViewBag.Title = "EquipmentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="col-lg-12" id="maintable">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <label>Equipment Report</label>
                </div>

                @{Html.RenderPartial("_Advertisements");}
            </div>
        </div>
    </div>
</div>