@using CASPortal.Helper

@{
    ViewBag.Title = "Customer Information Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFFFFF;
    }

    a:link, span.MsoHyperlink {
        color: #428bca;
        text-decoration: none;
    }

    #advertisements{
        margin-top: -136px;
    }
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Welcome, @ViewBag.CompanyName</h3>
        </div>
    </div>
    
    @{Html.RenderPartial("_HeaderLogo");}

    <!-- /.row -->
    <div class="row">

        <div class="col-lg-8" id="maintable">
            <div class="panel panel-green">
                <div class="panel-heading text-center">
                    Welcome to Temisoft Customer Access System
                </div>
                <div class="panel-body">
                    <p>@Html.Raw(ViewBag.MessageOfTheDay)</p>
                </div>
                <div class="panel-footer">
                    @using (Html.BeginForm("Index", "CustomerInformation"))
                    {
                        <div id="div_btnContinue">
                            <button class="btn btn-success" type="submit">Continue</button>
                        </div>
                    }
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.col-lg-8 -->

        @{Html.RenderPartial("_Advertisements");}

        <!-- /.col-lg-4 -->
    </div>
</div>

<script>
    //If it's mobile or tablet
    if (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase())) {
        $("#advertisements").css("margin-top", "0px");
        $.ajax({
            url: $("#hdnSiteURL").val() + "/CustomerInformation/GetMobileMessageStatus",
            type: "POST",
            data: { },
            dataType: "JSON",
            success: function (data) {
                if (data != null && data == true) {
                    alert("Customer access portal is best viewed on Landscape mode.");                  
                }
            },
            error: function (request) {
                alert("Please try again. Something went wrong.");
            }
        });
    }
</script>